* {
  scrollbar-width: none;
}

body {
  background-color: hsl(210, 46%, 95%);
  font-family: "Poppins", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
